* {
    box-sizing: border-box;
}

:root {
    --font--content: "Circular Std", sans-serif;
    --color--black--logo: #191825;
    --color--pink--text: #f85e9f;
    --color--purple--button: #5d50c6;
    --color--white--background: #fff;
    --color--grey--text: #19182580;
    --site--width: 398px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    margin: 0 auto;
    padding: 32px 0;

}

.navbar__menu {
    background: none;
    border: none;
}



body {
    padding: 0 16px;
    margin: 0;
    font-family: var(--font--content);

}

.hero__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;

}



.hero__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 16px;
    color: var(--color--pink--text);
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0 856px 240px 0 rgba(0, 0, 0, 0.00), 0 548px 219px 0 rgba(0, 0, 0, 0.01), 0 308px 185px 0 rgba(0, 0, 0, 0.04), 0 137px 137px 0 rgba(0, 0, 0, 0.06), 0 34px 75px 0 rgba(0, 0, 0, 0.07), 0 0 0 0 rgba(0, 0, 0, 0.07);
}

h1 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.text--pink {
    color: var(--color--pink--text);
}

.hero__text {
    color: var(--color--grey--text);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.hero__cta {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

}


.start__btn {
    color: #eee;
    text-decoration: none;
    background: var(--color--purple--button);
    padding: 24px 32px;
    border-radius: 100px;
    box-shadow: 0 856px 240px 0 rgba(0, 0, 0, 0.00), 0 548px 219px 0 rgba(0, 0, 0, 0.01), 0 308px 185px 0 rgba(0, 0, 0, 0.04), 0 137px 137px 0 rgba(0, 0, 0, 0.06), 0 34px 75px 0 rgba(0, 0, 0, 0.07), 0 0 0 0 rgba(0, 0, 0, 0.07);
}

.demo__btn {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 32px;
    border-radius: 100px;
    border: 1px solid #eee;
    box-shadow: 0 856px 240px 0 rgba(0, 0, 0, 0.00), 0 548px 219px 0 rgba(0, 0, 0, 0.01), 0 308px 185px 0 rgba(0, 0, 0, 0.04), 0 137px 137px 0 rgba(0, 0, 0, 0.06), 0 34px 75px 0 rgba(0, 0, 0, 0.07), 0 0 0 0 rgba(0, 0, 0, 0.07);
}

.fs-14 {
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
}

.hidden--sm {
    display: none;

}

.hidden--md {
    display: none;
}

picture>img {
    max-width: 100%;
}


.login__btn {
    text-decoration: none;
    padding: 16px 32px;
    color: inherit;
}

.signup__btn {
    text-decoration: none;
    padding: 16px 32px;
    color: #eee;
    background-color: var(--color--purple--button);
    border-radius: 100px;

}

@media all and (min-width:768.98px) and (max-width:1024px) {

    body {
        margin: auto 64px;
        background-image: url(gradient-background.svg);
        background-repeat: no-repeat;
    }

    nav {
        flex-direction: row;

    }


    .hero__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 43px;

    }

    h1 {
        color: #000;
        font-size: 56px;
        font-weight: 700;
        line-height: 120%;
        margin: 0;
    }

    .hero__text {
        color: var(--color--grey--text);
        font-size: 18px;
        font-weight: 400;
        line-height: 160%;
    }

    .hero__cta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;

    }

    .start__btn {
        color: #eee;
        text-decoration: none;
        background: var(--color--purple--button);
        padding: 24px 32px;
        border-radius: 100px;
        box-shadow: 0 856px 240px 0 rgba(0, 0, 0, 0.00), 0 548px 219px 0 rgba(0, 0, 0, 0.01), 0 308px 185px 0 rgba(0, 0, 0, 0.04), 0 137px 137px 0 rgba(0, 0, 0, 0.06), 0 34px 75px 0 rgba(0, 0, 0, 0.07), 0 0 0 0 rgba(0, 0, 0, 0.07);
    }

    .demo__btn {
        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 16px 32px;
        border-radius: 100px;
        border: 1px solid #eee;
        box-shadow: 0 856px 240px 0 rgba(0, 0, 0, 0.00), 0 548px 219px 0 rgba(0, 0, 0, 0.01), 0 308px 185px 0 rgba(0, 0, 0, 0.04), 0 137px 137px 0 rgba(0, 0, 0, 0.06), 0 34px 75px 0 rgba(0, 0, 0, 0.07), 0 0 0 0 rgba(0, 0, 0, 0.07);
    }


    .hidden--sm {
        display: flex;
    }

    .hidden--md {
        display: none;
    }


}


@media all and (min-width:1024.98px) {

    nav {
        flex-direction: row;
    }

    .navbar__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        color: var(--color--grey--text);
        gap: 64px;

    }

    .navbar__link {
        display: flex;
        ;
        text-decoration: none;
        color: var(--color--grey--text);
    }

    .container--hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero__content {
        max-width: 412px;
        align-items: flex-start;
        text-align: left;
    }

    h1 {
        color: #000;
        font-size: 69px;
        font-weight: 700;
        line-height: 120%;
        margin: 0;
    }


    .hero__cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    .start__btn {
        color: #eee;
        text-decoration: none;
        background: var(--color--purple--button);
        padding: 16px 32px;
        border-radius: 100px;
        box-shadow: 0 126px 35px 0 rgba(0, 0, 0, 0.00), 0 81px 32px 0 rgba(0, 0, 0, 0.01), 0 45px 27px 0 rgba(0, 0, 0, 0.05), 0 20px 20px 0 rgba(0, 0, 0, 0.09), 0 5px 11px 0 rgba(0, 0, 0, 0.10), 0 0 0 0 rgba(0, 0, 0, 0.10);
    }

    .demo__btn {
        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 16px 32px;
        border-radius: 100px;
        border: 1px solid #eee;
        box-shadow: 0 856px 240px 0 rgba(0, 0, 0, 0.00), 0 548px 219px 0 rgba(0, 0, 0, 0.01), 0 308px 185px 0 rgba(0, 0, 0, 0.04), 0 137px 137px 0 rgba(0, 0, 0, 0.06), 0 34px 75px 0 rgba(0, 0, 0, 0.07), 0 0 0 0 rgba(0, 0, 0, 0.07);
    }

    .hidden--sm,
    .hidden--md {
        display: flex;
    }

    .hidden--lg {
        display: none;
    }


}