* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.booking {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
}

.calendar {
  flex: 2;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.calendar label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#date {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

fieldset {
  border: none;
}

.timeslots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.slot {
  padding: 1rem;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

.selected {
  background-color: #0077cc;
}

.slot.selected {
  background-color: #2b6cb0 !important;
  color: white;
}

.slot:hover {
  background-color: #ddd;
}

.summary {
  flex: 1;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.summary p {
  margin: 1rem 0;
}

#confirm {
  padding: 0.75rem 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#confirm:hover {
  background-color: #005fa3;
}

#confirm:disabled {
  background-color: #ddd;
}

.hidden {
  display: none;
}

#confirmation {
  background-color: #f0fff4;
  border: 2px solid #38a169;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}
input#user-name, input#user-email {
width: 100%;
height: 45px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 6px;
font-size: 14px;

}

label[for="user-name"], label[for="user-email"] {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.user-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

