* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #1f3d34;
  color: #fff;
}

main {
  max-width: 960px;
  margin: 96px auto;
}

form {
  max-width: 448px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 24px 0;
}

input {
  background: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 16px;
  color: #102e22;
}

input::placeholder {
  color: #4f6f66;
  opacity: 1;
}

.input-error {
  color: #ffadad;
  font-size: 15px;
}

.btn-success {
  border: none;
  border-radius: 8px;
  padding: 12px;
  display: block;
  width: 100%;
  font-weight: 900;

  color: #1f3d34;
  background-color: #fff;
}

.hidden {
  display: none;
}
.success-section{
  background: linear-gradient(270deg, #7dff9e, #dfffea) ;
  box-shadow: 8px 8px 20px black ;
  outline: 2px solid green;
  max-width: 448px;
  color: #0f2e24;
  padding: 1rem;
  border-radius: 10px;
}
