* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  border: 1px solid black;
}

header {
  text-align: center;
  color: #005fa3;
  margin-bottom: 2rem;
}

.booking {
  display: flex;
  gap: 2rem;
}

.main {
  flex: 2;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.main h2 {
  color: #333;
  border-bottom: 2px solid #eee; /* Bölümleri ayırmak için ince çizgi */
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.main label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.second-container {
  display: flex;
  gap: 1rem;
}

#hidden-name-part {
  display: none;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: auto;
}
#hidden-name-part ul {
  padding: 0;
  list-style-type: none;
}
#personal-div {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 1.5rem;
  border: black 1px solid;
}

.personal {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#date {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

fieldset {
  border: none;
}

.timeslots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.slot {
  padding: 1rem;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

.selected {
  background-color: #0077cc;
}

.slot:hover {
  background-color: #ddd;
}

.summary {
  flex: 1;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.summary p {
  margin: 1rem 0;
}

#confirm {
  padding: 0.75rem 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#confirm:hover {
  background-color: #005fa3;
}

#confirm:disabled {
  background-color: #ddd;
}

.hidden {
  display: none;
}

#confirmation {
  text-align: center;
  background-color: #e6ffe6;
  border: 2px solid #4caf50;
  line-height: 1.5rem;
  padding: 1rem;
}
#confirmation-title {
  font-weight: 800;
}
#confirmation span {
  font-weight: 700;
  color: #0077cc; /* Randevu özetindeki mavi renge benzer bir vurgu */
  display: inline-block; /* Margin-right ekleyebilmek için */
  margin-left: 5px;
}
#check-sign {
  color: #4caf50; /* Onay işareti için yeşil renk */
  font-size: 3rem;
  margin-bottom: 1rem;
}
#name,
#email,
#date {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ccc; /* İnce gri kenarlık */
  border-radius: 6px;
  transition: border-color 0.3s;
}
