* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.header{
  background-color: #cfd7d0;
  color: white;
  padding: 10px 0;
  display: flex;

}
.photo{
  max-width: 250px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  
}
.title{
  text-align: left;
  font-size: 36px;
  margin: 20px 0;
  padding-left: 30px;
  color: #4CAF50;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  text-align: center;
  gap:20px;
  width:100%;
  justify-content: center;
  
}


.create-post,.getPost{
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;

  
}



.posts-list {
  max-width: 800px;
  margin: 0 auto;
 
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  

  
}

#success {
  color: green;
  text-align: center;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin: 0 0 10px;
}

.card-body {
  color: #666;
  margin: 0;
  text-align: center;
}

.buttons-center{
  display: flex;
  justify-content: center;
  width: 100%;
}
.button {
  padding: 10px 20px;
  display: inline-block; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;

}

.button--success {
  background-color: #4CAF50;
  text-align: center;
}

.button--success:hover {
  background-color: #45a049;
}


.button--danger {
  background-color: #7a0916;
  text-align: center;
  
}

.button--danger:hover {
  background-color: #79000cf4;
}

@media (max-width: 810px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button{
    display:block;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
  }

  .buttons-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
