* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  
}

header {
  text-align: center;
  margin-bottom: 2rem;
}




.calendar label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#date {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

fieldset {
  border: none;
}

.timeslots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}


.slot{
  padding: 1rem;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

.selected {

  background-color: #0077cc;

}



.slot:hover {
  background-color: #ddd;
}



.summary p {
  margin: 1rem 0;
}

#confirm {
  padding: 0.75rem 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#confirm:hover {
  background-color: rgb(0, 95, 163);
}

#confirm:disabled {
  background-color: #ddd;
}

.hidden {
   display: none ;
}
.appointments{
  display: flex;
  gap: 2rem;
 
}

.calendar {
  flex: 2;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  
}

.summary {
  flex: 2;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.booking {
  display: flex;
 flex-direction: column;
 gap: 2rem;

}



.user-information{
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user-information p{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
 
}

.user-information > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem
 
}

.form-input{
background-color: rgba(0, 95, 163, 0.1);
padding: 0.4rem;
border-radius: 5px;
border: 0px;
outline: 1px solid pink;
 box-shadow: 2px 3px 2px pink;
}
.form-input:hover{
  outline: 2px solid rgb(132, 212, 255);
}

.user-email{
 display: flex; 
}


