* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.mainpage-buttons{
  text-align: center;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  list-style-type: none;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.card-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px;
}

.card-body {
  color: #666;
  font-size: 1.4rem;
  margin: 0;
}

.button {
  padding: 10px 20px;
  display: inline-block;

  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
}

.button--success {
  background-color: #358139;
}

.button--success:hover {
  background-color: #45a049;
}

.button--danger {
  background-color: #7a0916;
  margin-left: 18px;
}

.button--danger:hover {
  background-color: #8c0714f4;
}

.button--back {
  background-color: #656365;
  margin: 0;
}

.button--back:hover {
  background-color: #3e3d3e;
}

.button--create {
  background-color: midnightblue;
}

.button--create:hover {
  background-color: rgb(44, 44, 154);
}

.successMessage {
  font-weight: bold;
}

.mainbtn-container {
  display: flex;
  text-align: center;
}

.formbtn-container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
  }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

textarea {
  font-family: inherit;
  font-size: 1rem;
  width: 75%;
  height: 250px;
  border: 1px solid #ccc;
}

.input-title {
  margin: 8px 0 16px 0;
  width: 60%;
  height: 25px;
  border: 1px solid #ccc;
}

.input-body {
  margin-bottom: 12px;
}

.hidden {
  display: none;
}

@media all and (min-width: 768.98px) {
  .posts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

    .mainbtn-container {
    margin-top: auto;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  form {
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
  }

  .formbtn-container {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    gap:10px;
  }

  .input-title {
  width: 40%;
}

  .card-title {
    font-size: 1.2rem;
  }

  .card-body,
  .button,
  textarea {
    font-size: 1rem;
  }
}
