* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8edeb;
  color: black;
}

main {
  max-width: 960px;
  margin: 72px auto;
}

form {
  max-width: 448px;
}

.form-title {
  color: #352b3b;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 24px 0;
}

input {
  background: #6d597a;
  border: none;
  border-radius: 12px;
  padding: 16px;
  color: #fff;
}

.input-error {
  color: #d3411c;
  font-size: 14px;
  margin: 12px 0 0 0;
}

.error-border {
  border: 2px solid #e76f51;
}

.btn-success {
  border: none;
  border-radius: 8px;
  padding: 12px;
  display: block;
  width: 100%;
  font-weight: 900;

  color: #151415;
  background-color: #84a98c;
  cursor: pointer;
}

.hidden {
  display: none;
}

::placeholder {
  color: #e0e1dd;
  opacity: 0.5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(40, 40, 41, 0.644);
}

.btn-success:disabled {
  background-color: #6c757d;
  color:white;
}

#success {
  max-width: 1048px;
  text-align: center;
  margin: 0 auto;
}

#success h1 {
  font-size: 48px;
  margin-bottom: 8px;
}

#success i {
  font-size: 72px;
}

#success p {
  font-size: 18px;
}
