* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: "Nunito", sans-serif;
}

h1 {
  text-align: center;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
}

.post {
  border-radius: 12px;
  padding: 8px 8px 16px;
  position: relative;
}

.postid {
  margin: 6px 0;
}

.posttitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 4px;
}

.postbody {
  font-size: 12px;
  padding-bottom: 8px;
  margin-top: 8px;
}

.deletebutton {
  position: absolute;
  right: 6px;
  bottom: 6px;

  background-color: #c92103;
  color: #fff;
  border: #dd2403;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.message {
  color: #c92103;
  font-weight: 500;
}

@media all and (min-width: 768.98px) {
  .maincontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 18px;
  }

  body {
    padding: 20px;
  }
}
