*{
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;

}

body{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background: linear-gradient(270deg, rgb(181, 181, 255), pink);
}

.hidden{
  display: hidden;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

.style{
 width: 100%;
max-width: 300px;
height: 200px;
 align-self: center;
 overflow: hidden;
  border: 5px solid rgb(255, 130, 151);
  margin: 3px;
  background: linear-gradient(180deg, rgb(92, 149, 255), rgb(118, 226, 120));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
}

.delete-btn{
  min-width: 100px;
  border: 2px solid rgb(132, 132, 255);
  border-radius: 10px;
}

button:hover{
border: 2px solid red;
background-color: black;
color: white;
cursor: pointer

}