* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.booking {
  gap: 2rem;
}

.personal-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background: white;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 1.5rem;
}

.personal-info label {
 display: flex;
 flex-direction: column;
 
}



.input-error {
  color: rgb(136, 136, 136);
  font-size: 14px;
}

.calendar {
  flex: 2;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.calendar label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#date {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

fieldset {
  border: none;
}

.timeslots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.slot {
  padding: 1rem;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

.selected {
  background-color: #0077cc;
}

.slot:hover {
  background-color: #ddd;
}

.summary {
  flex: 1;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.summary p {
  margin: 1rem 0;
}

#confirm {
  padding: 0.75rem 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#confirm:hover {
  background-color: #005fa3;
}

#confirm:disabled {
  background-color: #ddd;
}

.hidden {
  display: none;
}

#confirmation {
  text-align: center;
  margin-top: 5rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  font-size: larger;
}

.confirmed-info {
  text-align: center;
  padding: 2rem;
}